# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
.metadata

# macOS
.DS_Store
__MACOSX/

# Android
android/local.properties
android/.gradle/

# IDE
.idea/
.vscode/
*.iml

# Environment
.env

# Node
node_modules/

# Logs
*.log

# Coverage
coverage/